<div class="myclass">
  <%= link_to "Back", groups_path, class:"back-link" %>
  <p>NEW ENTITY</p>
  <div >
  <%= link_to "Log Out", destroy_user_session_path,  class: "c-actions" %> 
  </div>
</div>

<%= render "form", entity: @entity %>

<br>

<div>
  <%= link_to "BACK TO ENTITIES", entities_path, class:"btn btn-light my-cstm-btn" %>
</div>
