<p style="color: green"><%= notice %></p>

<h1 class="info-splash">My Budget Manager</h1>


<div class="splash-btns">

<%= link_to "LOG IN", user_session_path, class:"btn btn-primary my-btn" %>

<%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-light my-btn" %>

<%= link_to "FORGOT PASSSWORD", new_user_password_path, class:"btn btn-light my-btn" %>
</div>