/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";


 .body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow:hidden;
 }

.info-splash {
  margin: 180px auto;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.splash-btns {
  display: flex;
  flex-direction: column;
}

.icon-image {
  width: 90px;
  height: 90px;
  position: relative;
  left: 10px;
  top: 18px;
}

.name-p {
  position: relative;
  left: 120px;
  top: -60px;
}

.amt-total {
  position: relative;
  left: 290px;
  top: -70px;
}

.group-actions {
  position: relative;
  left: 120px;
  top: -95px;
}

.my-btn {
  width: 80%;
  height: 45px;
  margin: 10px auto;
}

.my-cstm-btn,
.my-btn2 {
  width: 80%;
  height: 45px;
  margin-top: 18px;
  margin-left: 10vw;
}

.centering-items {
  text-align: center;
  margin: auto;
}

/* .field {
  margin: 20px auto;
} */
.myclass {
  display: flex;
  justify-content: space-between;
  background-color: #3778c2;
  color: #fff;
  align-items: center;
  padding: 0 5px;
}

.back-link {
  color: #fff;
}

.c-actions {
  color: #fff;
  border: none;
  background-color: #3778c2;
}

.myclass p {
  padding-top: 10px;
}

.form-field {
  margin: 20px auto;
}

.field-login {
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.field-remember {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-remember2 {
  margin: 5px ;
}

.groups {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: blue;
}

.special-image-upload {
  margin: 15px;
}

.user-info {
  margin: 5px 15px;;

}

.payment {
  display: flex;
  justify-content: space-between;
}

.payment1 {
  margin-left: 20px;
}

.payment2 {
  margin-left: 20px;
}