<% @transactions.each do |transaction| %>
    <div class="user-container-index">
      
      <div class="user-info">
      
        <p class="user-numbers">Name <%= transaction.name %></p>
      </div>
  </div>
  <% end %>